body {
  background-color: #ffbd0d;
}
.container {
  max-width: 650px;
  margin: 0 auto;
  color: red;
  border: red 5px solid;
  background-color: #ffbd0d;
  padding: 1rem;
  border-radius: 20px;
}

h1 {
  background-color: red;
  color: #ffbd0d;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 8px 16px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menu-list-link {
  margin: 2rem;
  list-style: none;
}

a,
h2,
h3 {
  text-decoration: none;
  background-color: red;
  color: #ffbd0d;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 24px;
}

p {
  padding-left: 1rem;
}

p,
li {
  font-size: 20px;
  color: black;
}

a:hover {
  background-color: #ffbd0d;
  color: red;
  border: 2px solid red;
}

img {
  width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
